---
http_interactions:
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?days=5&key=DONT_SHARE_MY_DATA_1&q=34.01158,-118.49227&tp=24
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.03'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 06/13/2023 17:17:07
      Cdn-Edgestorageid:
      - '1029'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 97e3bfe9813d822c70ac3eb051b2785b
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Santa Monica","region":"California","country":"United
        States of America","lat":34.01,"lon":-118.49,"tz_id":"America/Los_Angeles","localtime_epoch":1686676627,"localtime":"2023-06-13
        10:17"},"current":{"last_updated_epoch":1686676500,"last_updated":"2023-06-13
        10:15","temp_c":18.3,"temp_f":64.9,"is_day":1,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"wind_mph":6.9,"wind_kph":11.2,"wind_degree":230,"wind_dir":"SW","pressure_mb":1018.0,"pressure_in":30.05,"precip_mm":0.0,"precip_in":0.0,"humidity":68,"cloud":75,"feelslike_c":18.3,"feelslike_f":64.9,"vis_km":16.0,"vis_miles":9.0,"uv":5.0,"gust_mph":6.3,"gust_kph":10.1},"forecast":{"forecastday":[{"date":"2023-06-13","date_epoch":1686614400,"day":{"maxtemp_c":23.7,"maxtemp_f":74.7,"mintemp_c":14.9,"mintemp_f":58.8,"avgtemp_c":18.3,"avgtemp_f":65.0,"maxwind_mph":12.3,"maxwind_kph":19.8,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":70.0,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"uv":5.0},"astro":{"sunrise":"05:42
        AM","sunset":"08:06 PM","moonrise":"02:38 AM","moonset":"04:00 PM","moon_phase":"Waning
        Crescent","moon_illumination":"27","is_moon_up":0,"is_sun_up":1}},{"date":"2023-06-14","date_epoch":1686700800,"day":{"maxtemp_c":21.4,"maxtemp_f":70.5,"mintemp_c":15.1,"mintemp_f":59.2,"avgtemp_c":18.1,"avgtemp_f":64.7,"maxwind_mph":11.0,"maxwind_kph":17.6,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":73.0,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1[...]
