---
http_interactions:
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?days=1&key=DONT_SHARE_MY_DATA_1&q=42.3265,-122.8756
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.03'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 06/13/2023 17:17:07
      Cdn-Edgestorageid:
      - '1068'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 0643c58c66295169fa2c9db358d13899
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Medford","region":"Oregon","country":"United States
        of America","lat":42.33,"lon":-122.88,"tz_id":"America/Los_Angeles","localtime_epoch":1686676627,"localtime":"2023-06-13
        10:17"},"current":{"last_updated_epoch":1686676500,"last_updated":"2023-06-13
        10:15","temp_c":23.3,"temp_f":73.9,"is_day":1,"condition":{"text":"Mist","icon":"//cdn.weatherapi.com/weather/64x64/day/143.png","code":1030},"wind_mph":2.2,"wind_kph":3.6,"wind_degree":10,"wind_dir":"N","pressure_mb":1017.0,"pressure_in":30.02,"precip_mm":0.0,"precip_in":0.0,"humidity":56,"cloud":0,"feelslike_c":24.9,"feelslike_f":76.8,"vis_km":9.7,"vis_miles":6.0,"uv":6.0,"gust_mph":4.9,"gust_kph":7.9},"forecast":{"forecastday":[{"date":"2023-06-13","date_epoch":1686614400,"day":{"maxtemp_c":29.3,"maxtemp_f":84.7,"mintemp_c":12.0,"mintemp_f":53.6,"avgtemp_c":19.0,"avgtemp_f":66.2,"maxwind_mph":9.6,"maxwind_kph":15.5,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":59.0,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"uv":5.0},"astro":{"sunrise":"05:35
        AM","sunset":"08:49 PM","moonrise":"02:48 AM","moonset":"04:31 PM","moon_phase":"Waning
        Crescent","moon_illumination":"27","is_moon_up":0,"is_sun_up":1},"hour":[{"time_epoch":1686639600,"time":"2023-06-13
        00:00","temp_c":15.0,"temp_f":59.0,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":1.8,"wind_kph":2.9,"wind_degree":213,"wind_dir":"SSW","pressure_mb":1016.0,"pressure_in":29.99,"precip_mm":0.0,"precip_in":0.0,"humidity":77,"cloud":9,"feelslike_c":15.0,"feelslike_f":59.0,"windchill_c":15.0,"windchill_f":59.0,"heatindex_c":15.0,"heatindex_f":59.0,"dewpoint_c":11.0,"dewpoint_f":51.8,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":3.8,"gust_kph":6.1,"uv":1.0},{"time_epoch":1686643200,"time":"2023-06-13
        01:00","temp_c":14.2,"temp_f":57.6,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":2.0,"wind_kph":3.2,"wind_degree":177,"wind_dir":"S","pressure_mb":1016.0,"pressure_in":30.0,"precip_mm":0.0,"precip_in":0.0,"humidity":80,"cloud":9,"feelslike_c":15.0,"feelslike_f":59.0,"windchill_c":15.0,"windchill_f":5[...]
