---
http_interactions:
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?date=2023-06-14&days=1&hour=11&key=DONT_SHARE_MY_DATA_1&q=burlington,vt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.03'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 06/13/2023 17:17:07
      Cdn-Edgestorageid:
      - '1029'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - f1090617b70e31a486cc63861362ab65
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Burlington","region":"Vermont","country":"United
        States of America","lat":44.48,"lon":-73.21,"tz_id":"America/New_York","localtime_epoch":1686676627,"localtime":"2023-06-13
        13:17"},"current":{"last_updated_epoch":1686675600,"last_updated":"2023-06-13
        13:00","temp_c":20.0,"temp_f":68.0,"is_day":1,"condition":{"text":"Overcast","icon":"//cdn.weatherapi.com/weather/64x64/day/122.png","code":1009},"wind_mph":5.6,"wind_kph":9.0,"wind_degree":10,"wind_dir":"N","pressure_mb":1005.0,"pressure_in":29.67,"precip_mm":0.6,"precip_in":0.02,"humidity":78,"cloud":100,"feelslike_c":20.0,"feelslike_f":68.0,"vis_km":16.0,"vis_miles":9.0,"uv":4.0,"gust_mph":4.5,"gust_kph":7.2},"forecast":{"forecastday":[{"date":"2023-06-14","date_epoch":1686700800,"day":{"maxtemp_c":21.8,"maxtemp_f":71.2,"mintemp_c":13.2,"mintemp_f":55.8,"avgtemp_c":16.2,"avgtemp_f":61.1,"maxwind_mph":16.8,"maxwind_kph":27.0,"totalprecip_mm":7.7,"totalprecip_in":0.3,"totalsnow_cm":0.0,"avgvis_km":5.8,"avgvis_miles":3.0,"avghumidity":86.0,"daily_will_it_rain":1,"daily_chance_of_rain":87,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Moderate
        rain","icon":"//cdn.weatherapi.com/weather/64x64/day/302.png","code":1189},"uv":4.0},"astro":{"sunrise":"05:07
        AM","sunset":"08:38 PM","moonrise":"02:44 AM","moonset":"05:19 PM","moon_phase":"Waning
        Crescent","moon_illumination":"18","is_moon_up":0,"is_sun_up":1},"hour":[{"time_epoch":1686754800,"time":"2023-06-14
        11:00","temp_c":20.4,"temp_f":68.7,"is_day":1,"condition":{"text":"Patchy
        rain possible","icon":"//cdn.weatherapi.com/weather/64x64/day/176.png","code":1063},"wind_mph":1.8,"wind_kph":2.9,"wind_degree":179,"wind_dir":"S","pressure_mb":1002.0,"pressure_in":29.58,"precip_mm":0.2,"precip_in":0.01,"humidity":62,"cloud":79,"feelslike_c":20.4,"feelslike_f":68.7,"windchill_c":20.4,"windchill_f":68.7,"heatindex_c":20.4,"heatindex_f":68.7,"dewpoint_c":12.9,"dewpoint_f":55.2,"will_it_rain":1,"chance_of_rain":71,"will_it_snow":0,"chance_of_snow":0,"vis_km":9.0,"vis_miles":5.0,"gust_mph":2.0,"gust_kph":3.2,"uv":5.0}]}]}}'
  recorded_at: Tue, 13 Jun 2023 17:17:07 GMT
recorded_with: VCR 6.1.0
